img {
    width:  5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 -16px 16px 35px ;
}

 
.mat-list-item:hover {
    cursor: pointer;
    color: white;
    background-color: lightsalmon;
}