.main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navi {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

li:hover,
li:active,
li:focus {
  cursor: pointer;
}
