 
.resturants {
    margin-top: 1.5rem;
    border-style: none;
}

 .resturant {
   max-width: 500px;
 }

 .carousel {
    height: 300px;
    width: 500px;
 }
 


 @media only screen and (min-width: 786px) {
    .resturants {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }
 }