<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://i.picsum.photos/id/905/400/300.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://i.picsum.photos/id/507/400/300.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://i.picsum.photos/id/609/400/300.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://i.picsum.photos/id/995/400/300.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://i.picsum.photos/id/1054/400/300.jpg">
        </div>
    </ng-template>
</owl-carousel-o> -->

<main>
    
    <div class="resturants"> 
        <div class="carousel1">
                 <mat-card class="resturant resturant--location1">
                 
                     <owl-carousel-o [options]="customOptions">
                         <ng-template carouselSlide *ngFor="let slide of restaurants1" [id]="slide.id">
                             
                                 <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                                                
                         </ng-template>              
                     </owl-carousel-o>
                
                 <mat-card-content>
                     
                         <span>Restaurant</span>
                         <span>La Seine</span>
                         <div>
                             <span>Type Buffet Main Tower 1F</span>
                             <div>
                                 <span>View Details</span>
                                 <span class="material-icons">
                                     keyboard_arrow_right
                                     </span>
                             </div>                
                         </div>                                               
                 </mat-card-content>                 
             </mat-card> 
        </div>  
        <div  class="carousel2">
            <mat-card class="resturant resturant--location1">
                 
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let slide of restaurants2" [id]="slide.id">
                         
                            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                                           
                    </ng-template>              
                </owl-carousel-o>
             
            <mat-card-content>
                
                    <span>Restaurant</span>
                    <span>La Seine</span>
                    <div>
                        <span>Type Buffet Main Tower 1F</span>
                        <div>
                            <span>View Details</span>
                            <span class="material-icons">
                                keyboard_arrow_right
                                </span>
                        </div>                
                    </div>                                               
            </mat-card-content>                 
         </mat-card> 
        </div>
                    
        
</div>
</main>

 
