<!-- <app-withresolver></app-withresolver> -->

<!-- <h1>
    <a href="https://coryrylan.com/blog/managing-external-links-safely-in-angular">
      Managing External Links Safely in Angular
    </a>
  </h1>
  
  <a href="http://www.nate.com">Link Nate</a>
  
  <br /><br />
  
  <a href="https://{{dynamic}}#1">Link Internal Dynamic</a>
  
  <br /><br />
  
  <a href="https://coryrylan.com/blog/managing-external-links-safely-in-angular">Link External</a> -->
  <!-- <app-ng-alert></app-ng-alert>
  <div class="buttons">
    <button class="success" (click)="createSuccessMessage()">
      Create success alert
    </button>
    <button class="danger" (click)="createDangerMessage()">
      Create danger alert
    </button>
  
    <button class="warning" (click)="createWarningMessage()">
      Create danger alert
    </button>
  
    <button class="info" (click)="createInfoMessage()">
      Create danger alert
    </button>
  </div> -->
<ngnine-crousel ></ngnine-crousel>
  <!-- <router-outlet></router-outlet> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="container">
    <ng-template #modalBody>
        <app-contents></app-contents>
    </ng-template>
        
    <app-modal  #modal  [body]="modalBody" 
         *appModalOpenClose="[login]">
            <mat-icon  (click)="modal.close()" >close</mat-icon>
    </app-modal>
</div>
 
<button #login  class="success" (click)="setActive(true)">Login</button> -->

 
 

