 
 <div class="tabs">
     <message></message>
    <loading></loading>
    <div class="courses-panel">

        <h3>전체과정</h3>
    
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs class="tabs-width">   
            <mat-tab label="초급">    
                <courses-card-list
                        [courses]="beginnerCourses$ | async"  (updateCourse)="courseUpdate()">   
                </courses-card-list>
    
            </mat-tab>   
            <mat-tab label="고급">    
                <courses-card-list
                        [courses]="advancedCourses$ | async">    
                </courses-card-list>    
            </mat-tab>
        </mat-tab-group>
    </div>
 </div>



