<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="설정변경">
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="convert()">
     <mat-icon>settings</mat-icon>
     <span>변환</span>
   </button>
   <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>도움말</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>로그아웃</span>
    </button>
</mat-menu>

<button  mat-icon-button matTooltip="홈"  (click)="goHome()">
  <mat-icon>assignment_return</mat-icon>
</button>

