<div class="main-container">
  <app-header></app-header>

  <div class="content-container">

    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <!-- <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">  -->
      <a clrVerticalNavLink routerLink="basemap" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        지도연습
      </a>
      <a clrVerticalNavLink routerLink="basic-setup" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        기본설정
      </a>
      <a clrVerticalNavLink routerLink="ol-proj-setup" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        Open Layer 프로젝트
      </a>
      <a clrVerticalNavLink routerLink="custom-markers" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        위치 표시
      </a>
      <a clrVerticalNavLink routerLink="simple-popup" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        클릭시 위치팝업
      </a>
      <a clrVerticalNavLink routerLink="custom-control" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        맟춤형지도
      </a>
      <a clrVerticalNavLink routerLink="clustered-features" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        Clustered Features
      </a>
    </clr-vertical-nav>


    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
