<section class="cube">
  <span>
    <img src="assets/spacewalk/space-thumbnails/planets/Mercury_in_color_-_Prockter07-edit1.jpg">
  </span>
  <span>
    <img src="assets/spacewalk/space-thumbnails/planets/Venus-real_color.jpg">
  </span>
  <span>
    <img src="assets/spacewalk/space-thumbnails/planets/The_Earth_seen_from_Apollo_17.jpg">
  </span>
  <span>
    <img src="assets/spacewalk/space-thumbnails/planets/OSIRIS_Mars_true_color.jpg">
  </span>
  <span>
    <img src="assets/spacewalk/space-thumbnails/planets/Jupiter_and_its_shrunken_Great_Red_Spot.jpg">
  </span>
  <span>
    <img src="assets/spacewalk/space-thumbnails/planets/Saturn_during_Equinox.jpg">
  </span>
</section>
