<div class="main">
  <h1>음악연주</h1>
  <div class="music-container" id="music-container">
    <div class="music-info">
      <h4 class="title"></h4>
      <div class="progress-container" id="progress-container">
        <div class="progress" id="progress"></div>
      </div>
    </div>

    <audio src="../../../assets/webproject/musicplayer/music/ukulele.mp3" class="audio"></audio>
    <div class="img-container">
      <img src="../../../assets/webproject/musicplayer/images/ukulele.jpg" alt="" id="cover">
    </div>

    <div class="navigation">
      <button id="prev" class="action-btn">
        <i class="fas fa-backward"></i>
      </button>
      <button id="play" class="action-btn action-btn-big">
        <i class="fas fa-play"></i>
      </button>
      <button id="next" class="action-btn">
        <i class="fas fa-forward"></i>
      </button>
    </div>

  </div>
</div>
<p class="source"><a [href]="safeurl">소스보기</a></p>
