<section class="piano">
     <div class="key-1"></div>
     <div class="key-2"  ></div>
     <div class="key-3"  ></div>
     <div class="key-4"  ></div>
     <div class="key-5"  ></div>
     <div class="key-6"  ></div>
     <div class="key-7"  ></div>
     <div class="key-8"  ></div>
     <div class="key-9"  ></div>
     <div class="key-10" ></div>
     <div class="key-11" ></div>
     <div class="key-12" ></div>
     <div class="key-1"  ></div>
     <div class="key-2"  ></div>
     <div class="key-3"  ></div>
     <div class="key-4"  ></div>
     <div class="key-5"  ></div>
     <div class="key-6"  ></div>
     <div class="key-7"  ></div>
     <div class="key-8"  ></div>
     <div class="key-9"  ></div>
     <div class="key-10" ></div>
     <div class="key-11" ></div>
     <div class="key-12" ></div>
    </section>>
