<div class="container">
    <div class="item item1">
        <ul class="item__sub">
            <li class="list">
                <a [routerLink]="['/fitness','start']" class="btn btn-primary">홈</a>

            </li>
            <li class="list i2">
                <a [routerLink]="['/fitness','builder','workout','new']" class="btn btn-primary">종목생성</a>
            </li>
            <li class="list i3">
                <a [routerLink]="['/fitness','builder','exercise', 'new']" class="btn btn-primary">운동생성</a>
            </li>
        </ul>
    </div>
</div>
 