<div class="tabs">
    <mat-tab-group mat-stretch-tabs class="tabs-width">
        <mat-tab label="SUITES" class="tab suites"> 
            <div class="main-suites">
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/suites1.jpg'">
                    <h4 class="suite__modal">
                        Presidential Suite
                    </h4>
                    <p>
                        Step into the embodiment of luxury, amid captivating views of Gangnam. On the 22nd floor of Park Hyatt Seoul, discover an expansive 160-square meter suite combining traditional Korean aesthetics and contemporary inspiration. Enjoy sound sleep in a bedroom with a king bed and recliner, a spacious bathroom evoking spa luxury, and a generously-appointed living room adorned with traditional Korean patterns and furniture, complemented by a kitchen, dressing room, minibar and guest bathroom.  
    
                        This is a premium suite. See World of Hyatt program terms for upgrade eligibility.
                    </p>
                    <div class="suite__info">                      
                            <app-amenity #amenity [roomtype]="1" [titleNo]="1">                               
                            </app-amenity>
                    </div>

                </article>
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/suites2.webp'">
                    <h4 class="suite__modal">
                        Presidential Suite
                    </h4>
                    <p>
                        Step into the embodiment of luxury, amid captivating views of Gangnam. On the 22nd floor of Park Hyatt Seoul, discover an expansive 160-square meter suite combining traditional Korean aesthetics and contemporary inspiration. Enjoy sound sleep in a bedroom with a king bed and recliner, a spacious bathroom evoking spa luxury, and a generously-appointed living room adorned with traditional Korean patterns and furniture, complemented by a kitchen, dressing room, minibar and guest bathroom.  
    
                        This is a premium suite. See World of Hyatt program terms for upgrade eligibility.
                    </p>
                    <div class="suite__info">
                        <div class="suite__info">                      
                            <app-amenity #amenity [roomtype]="2" [titleNo]="2">                               
                            </app-amenity>
                    </div>

                    </div>
                </article> 
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/suites3.webp'">
                    <h4 class="suite__modal">
                        Presidential King Suite
                    </h4>
                    <p>
                        Step into the embodiment of luxury, amid captivating views of Gangnam. On the 22nd floor of Park Hyatt Seoul, discover an expansive 160-square meter suite combining traditional Korean aesthetics and contemporary inspiration. Enjoy sound sleep in a bedroom with a king bed and recliner, a spacious bathroom evoking spa luxury, and a generously-appointed living room adorned with traditional Korean patterns and furniture, complemented by a kitchen, dressing room, minibar and guest bathroom.  
    
                        This is a premium suite. See World of Hyatt program terms for upgrade eligibility.
                    </p>
                    <div class="suite__info">
                        <div class="suite__info">                      
                            <app-amenity #amenity [roomtype]="3" [titleNo]="3">                               
                            </app-amenity>
                    </div>
                    </div>
                </article> 
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/suites4.jpg'">
                    <h4 class="suite__modal">
                        Presidential Nice Suite
                    </h4>
                    <p>
                        Step into the embodiment of luxury, amid captivating views of Gangnam. On the 22nd floor of Park Hyatt Seoul, discover an expansive 160-square meter suite combining traditional Korean aesthetics and contemporary inspiration. Enjoy sound sleep in a bedroom with a king bed and recliner, a spacious bathroom evoking spa luxury, and a generously-appointed living room adorned with traditional Korean patterns and furniture, complemented by a kitchen, dressing room, minibar and guest bathroom.  
    
                        This is a premium suite. See World of Hyatt program terms for upgrade eligibility.
                    </p>
                    <div class="suite__info">
                        <div class="suite__info">                      
                            <app-amenity #amenity [roomtype]="4" [titleNo]="4">                               
                            </app-amenity>
                    </div>
                    </div>
                </article>                                             
            </div>

        </mat-tab>
        <mat-tab label="ROOMS" class="tab  rooms">
            <div class="main-suites">
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/room1.webp'">
                    <h4 class="suite__modal">
                        1 King Bed Corner
                    </h4>
                    <p>
                        Enjoy additional privileges by enhancing your stay with Grand Club access, including concierge services, as well as morning breakfast, evening canapés and beverages served in the lounge.
                    </p>
                    <div class="suite__info">
                       <app-amenity></app-amenity>
                    </div>
                </article>
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/room2.webp'">
                    <h4 class="suite__modal">
                        2 Twin Beds Corner
                    </h4>
                    <p>
                        Enjoy additional privileges by enhancing your stay with Grand Club access, including concierge services, as well as morning breakfast, evening canapés and beverages served in the lounge.
                    </p>
                    <div class="suite__info">
                        <div class="suite__info--title">
                            <h4>AMENITIES</h4>
                        </div>
                        <div class="suite__icon--2">
                            <i class="material-icons arrow-icon">keyboard_arrow_down </i>
                        </div>

                    </div>
                </article> 
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/room3.webp'">
                    <h4 class="suite__modal">
                        1 King Bed River View
                    </h4>
                    <p>
                        Take in stunning views of the Han River and the city in this modernistic room featuring one king bed with a sofa bed and located on the higher floors.
                    </p>
                    <div class="suite__info">
                        <h5>AMENITIES</h5>
                        <div class="suite__icon--3">
                            <i class="material-icons arrow-icon">keyboard_arrow_down </i>
                          
                        </div>                       
 
                    </div>
                </article> 
                <article class="suite">
                    <img [src]="'../../../../assets/hotel/rooms/room4.webp'">
                    <h4 class="suite__modal">
                        2 Twin Beds River View
                    </h4>
                    <p>
                        Take in stunning views of the Han River and the city in this modernistic room featuring two twin beds with a sofa bed and located on the higher floors.
                    </p>
                    <div class="suite__info">
                        <h4>AMENITIES</h4>
                        <div class="suite__icon--4">
                            <i class="material-icons arrow-icon">keyboard_arrow_down </i>
                            
                        </div>                       
 
                    </div>
                </article>                                             
            </div>        
        </mat-tab> 
    </mat-tab-group>
</div>

 

 
 

 

