<div class="navtabs-container">
    <nav mat-tab-nav-bar   class="nav">
        <a mat-tab-link   [routerLink]="['/scroll','subscroll']"
          routerLinkActive #home="routerLinkActive"
         >
          안내
        </a>

        <a mat-tab-link [routerLink]="['/scroll','subscroll']"
          routerLinkActive #home="routerLinkActive"
          >
          객실
        </a>

        <a mat-tab-link [routerLink]="['/scroll','foodandberverage']"
        routerLinkActive #home="routerLinkActive"
         >
         음식/음료
      </a>

      <a mat-tab-link [routerLink]="['/scroll','lifestyle']"
        routerLinkActive #home="routerLinkActive"
        >
        회의
      </a>

      <a mat-tab-link [routerLink]="['/scroll','celebrations']"
        routerLinkActive #home="routerLinkActive"
        >
        연회
      </a>

      <a mat-tab-link [routerLink]="['/scroll','offers']"
        routerLinkActive #home="routerLinkActive"
         >
        부대시설
      </a>

      <a mat-tab-link [routerLink]="['/scroll']"
      routerLinkActive #home="routerLinkActive"
      >
      홈
    </a>     
    </nav>
</div>
