<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-4 pull-left">

      <div class="form-group form-inline">
        <!-- <input class="form-control ml-2" #searchMent type="text" placeholder="검색 제목입력.." />
              <div class=" input-group-btn">
                  <button type="button" class="btn btn-outline-secondary" (click)="mentSearch(searchMent.value)"><i class="fas fa-search"></i></button>
              </div> -->
      </div>

    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="reset()">
          <i class="fas fa-sync"></i>새로고침
        </button>
        <button type="button" class="btn btn-success" (click)="departReg()">
          <i class="fas fa-plus-circle"></i>등록
        </button>
      </div>
    </div>
  </div>
</div>
<br>

<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="index">#</th>
      <th scope="col" class="filename">부서명</th>
      <th scope="col" class="title">내선번호</th>
      <th scope="col" class="title">음원제목</th>
      <th scope="col" class="mentDate">화일명</th>
      <th scope="col" class="item head_modi">수정</th>
      <th scope="col" class="item head_delete">삭제</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let depart of (departList$ | async) as departs">
      <th scope="row" class="index">{{depart.id}}</th>
      <td class="filename ">{{depart.department_name}}</td>
      <td class="title">{{depart.tel}}</td>
      <td class="title">{{depart.ment_title}}</td>
      <td class="mentDate">{{depart.ment_name}}</td>

      <td>
        <div class="modi" (click)="departUpdate(depart)">수정<i class="far fa-edit"></i></div>
      </td>
      <td>
        <div class="delete" (click)="departDelete(depart)">삭제<i class="far fa-calendar-times"></i></div>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <ngb-pagination [collectionSize]="120" class="d-flex justify-content-center" (click)="getNext()" [(page)]="page"
    [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>
<!--   부서별 등록화면   --------------------------------------------------------  -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h6 class="modal-title">컬러링 부서별 등록</h6>

    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="close('none')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="box box-primary">
      <form [formGroup]="regForm">
        <div class="box-body">
          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">내선번호</label>
            <div class="col-sm-9">
              <select name="departPhone" formControlName="phone" class="form-control  selectpicker">
                <option value="">내선번호선택</option>
                <option [ngValue]="list" *ngFor="let list of deptLists">[{{list.tel}}]{{list.dept_name}} -
                  {{list.user_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group reg-group">
            <label for="inputText1" class="col-sm-3 control-label">기본음원파일</label>
            <div class="col-sm-9">
              <select name="departPhone" formControlName="ment" class="form-control  selectpicker">
                <option value="">음원선택</option>
                <option [ngValue]="coloring" *ngFor="let coloring of (coloringLists$ | async) as colorings">
                  [{{coloring.id}}]{{coloring.dtitle}} - {{coloring.ment_name}}</option>
              </select>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer " style="display:flex; justify-content: space-around;">
    <button type="button " class="btn btn-secondary" (click)="close('CAN')"><i class="far fa-times-circle"></i>취소
    </button>
    <button type="button " class="btn btn-success" (click)="close('REG')" [disabled]="regForm.invalid"><i
        class="fas fa-check"></i>등록 </button>
  </div>
</ng-template>
<!--    등록화면 끝  =======================================================================           -->
<!--    수정화면   =======================================================================           -->
<ng-template #modalModiContent let-close="close">
  <div class="modal-header">
    <h6 class="modal-title">컬러링 부서별 수정</h6>

    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="close('none')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="box box-primary">
      <form [formGroup]="regForm">
        <div class="box-body">
          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">내선번호</label>
            <div class="col-sm-9">
              <select name="departPhone" formControlName="phone" class="form-control  selectpicker">
                <option [ngValue]="list" selected *ngFor="let list of deptLists">[{{list.tel}}]{{list.dept_name}} -
                  {{list.user_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group reg-group">
            <label for="inputText1" class="col-sm-3 control-label">기본음원파일</label>
            <div class="col-sm-9">
              <select name="departPhone" formControlName="ment" class="form-control  selectpicker">
                <option [ngValue]="coloring" *ngFor="let coloring of colorings">[{{coloring.id}}]{{coloring.dtitle}} -
                  {{coloring.ment_name}}</option>
              </select>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer " style="display:flex; justify-content: space-around;">
    <button type="button " class="btn btn-secondary" (click)="close('CAN')"><i class="far fa-times-circle"></i>취소
    </button>
    <button type="button " class="btn btn-success" (click)="close('MOD')" [disabled]="regForm.invalid"><i
        class="fas fa-check"></i>수정 </button>
  </div>
</ng-template>
