 
<div class="photos-reviews-tabs tab-content">
   <section class="photos-and-reviews-filter">
       <div class="b-container psr-container">
           <div class="b-row">
              <div class="b-col-12">
                  <div class="b-category">
                      <div class="b-category__title">
                          <p>SELECT CATEGORY</p>
                      </div>
                      <ul class="b-category__list">
                          <li class="all">All</li>
                          <li class="item"><a href="theahotel/lifestyle#hotel">Hotel</a></li>
                          <li class="item"><a href="theahotel/lifestyle#rooms">Rooms</a></li>
                          <li class="item"><a href="theahotel/lifestyle#suites">Suites</a></li>
                      </ul>
                  </div>
                  <div class="b-photo">
                      <div class="b-photo__area">
                          <div class="photo-share">
                              <span class="material-icons camera">camera_alt</span>
                              <h2 class="photo-share__title">SHARE YOUR STORY</h2>
                              <div>
                                   <p style="text-align: center">
                                     <br>
                                     Post your own Park Hyatt
                                     moments on Instagram.
                                   </p>
                                   <p style="text-align: center">
                                   &nbsp;#LuxuryIsPersonal</p>
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
           </div>
       </div>
   </section>
   <section class="photo-hotel" id="hotel">
       <div class="photo-title">
             <div class="photo-title__main">
                 <h3 class="photo-title__size">Hotel</h3>
                 <hr class="b-m6">
             </div>
       </div>
        <div class="photo-hotel__layout">
            <div class="photo-hotel__layout--image">                                 
                 <img 
                 srcset="../../../../assets/hotel/hotel/Concierge.webp 200w,
                         ../../../../assets/hotel/hotel/Concierge.webp 300w,
                         ../../../../assets/hotel/hotel/Concierge.webp 400w"
                 sizes="(max-width: 320px) 200px,
                        (max-width: 768px) 300px,
                        400px" 
                 src="../../../../assets/hotel/hotel/Concierge.webp"> 
                 <div class="title">
                    <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
                 </div>
                
            </div>

            <div class="">                                 
                 <img 
                 srcset="../../../../assets/hotel/hotel/Exterior.webp 200w,
                         ../../../../assets/hotel/hotel/Exterior.webp 300w,
                         ../../../../assets/hotel/hotel/Exterior.webp 400w"
                 sizes="(max-width: 320px) 200px,
                        (max-width: 768px) 300px,
                        400px" 
                 src="../../../../assets/hotel/hotel/Exterior.webp"> 
              
                 <div class="title">
                    <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
                 </div>
            </div>

            <div class="">                                 
                <img 
                srcset="../../../../assets/hotel/hotel/Lounge-View.webp 200w,
                        ../../../../assets/hotel/hotel/Lounge-View.webp 300w,
                        ../../../../assets/hotel/hotel/Lounge-View.webp 400w"
                sizes="(max-width: 320px) 200px,
                       (max-width: 768px) 300px,
                       400px" 
                src="../../../../assets/hotel/hotel/Lounge-View.webp"> 
            
                <div class="title">
                    <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
                 </div>
            </div>
        </div>       
   </section>

   <section class="photo-hotel" id="rooms">
    <div class="photo-title">
          <div class="photo-title__main">
              <h3 class="photo-title__size">Rooms</h3>
              <hr class="b-m6">
          </div>
    </div>
     <div class="photo-hotel__layout">
         <div class="photo-hotel__layout--image">                                 
              <img 
              srcset="../../../../assets/hotel/rooms/room2.webp 200w,
                      ../../../../assets/hotel/rooms/room2.webp 300w,
                      ../../../../assets/hotel/rooms/room2.webp 400w"
              sizes="(max-width: 320px) 200px,
                     (max-width: 768px) 300px,
                     400px" 
              src="../../../../assets/hotel/rooms/room2.webp"> 
              <div class="title">
                 <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
              </div>
             
         </div>

         <div class="">                                 
              <img 
              srcset="../../../../assets/hotel/rooms/room1.webp 200w,
                      ../../../../assets/hotel/rooms/room1.webp 300w,
                      ../../../../assets/hotel/rooms/room1.webp 400w"
              sizes="(max-width: 320px) 200px,
                     (max-width: 768px) 300px,
                     400px" 
              src="../../../../assets/hotel/rooms/room1.webp"> 
           
              <div class="title">
                 <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
              </div>
         </div>

         <div class="">                                 
             <img 
             srcset="../../../../assets/hotel/rooms/room0.jpg 200w,
                     ../../../../assets/hotel/rooms/room0.jpg 300w,
                     ../../../../assets/hotel/rooms/room0.jpg 400w"
             sizes="(max-width: 320px) 200px,
                    (max-width: 768px) 300px,
                    400px" 
             src="../../../../assets/hotel/rooms/room0.jpg"> 
         
             <div class="title">
                 <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
              </div>
         </div>
     </div>       
</section>

<section class="photo-hotel" id="suites">
    <div class="photo-title">
          <div class="photo-title__main">
              <h3 class="photo-title__size">Suites</h3>
              <hr class="b-m6">
          </div>
    </div>
     <div class="photo-hotel__layout">
         <div class="photo-hotel__layout--image">                                 
              <img 
              srcset="../../../../assets/hotel/rooms/suites1.jpg 200w,
                      ../../../../assets/hotel/rooms/suites1.jpg 300w,
                      ../../../../assets/hotel/rooms/suites1.jpg 400w"
              sizes="(max-width: 320px) 200px,
                     (max-width: 768px) 300px,
                     400px" 
              src="../../../../assets/hotel/rooms/suites1.jpg"> 
              <div class="title">
                 <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
              </div>
             
         </div>

         <div class="">                                 
              <img 
              srcset="../../../../assets/hotel/rooms/suites2.webp 200w,
                      ../../../../assets/hotel/rooms/suites2.webp 300w,
                      ../../../../assets/hotel/rooms/suites2.webp 400w"
              sizes="(max-width: 320px) 200px,
                     (max-width: 768px) 300px,
                     400px" 
              src="../../../../assets/hotel/rooms/suites2.webp"> 
           
              <div class="title">
                 <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
              </div>
         </div>

         <div class="">                                 
             <img 
             srcset="../../../../assets/hotel/rooms/suites4.jpg 200w,
                     ../../../../assets/hotel/rooms/suites4.jpg 300w,
                     ../../../../assets/hotel/rooms/suites4.jpg 400w"
             sizes="(max-width: 320px) 200px,
                    (max-width: 768px) 300px,
                    400px" 
             src="../../../../assets/hotel/rooms/suites4.jpg"> 
         
             <div class="title">
                 <span class="">A luxury stay in the heart of Seoul awaits you at Park Hyatt Seoul</span>
              </div>
         </div>
     </div>       
</section>
</div>
