<div class="home" routerLink="/mininus/grid">
  <h3>메뉴로 이동</h3>
</div>
<form>
  <label for="">이 름</label>
  <input type="text" placeholder="성">
  <input type="text" placeholder="이픔">


  <label for="">주 소</label>
  <input type="text" placeholder="시/도">
  <input type="text" placeholder="우편번호">
  <input type="text" placeholder="상세 1">
  <input type="text" placeholder="상세 2">

  <label for="">연락처</label>
  <input type="text" placeholder="핸드폰">
  <input type="text" placeholder="집">
  <input type="text" placeholder="직장">
</form>
