@import "../sass/mixin";
@import "../sass/variables";
 
 .gohome {
     position:fixed;
     z-index: 2;
     top: 0;
     left: 50%;
     background-color: white;
     border-radius: 5px;
     text-align: center;
     &:hover {
        cursor: pointer;
     }
 }

 

 .entry {
   
     background-color: lightgray;  
     margin-top: 5px;
     img {
          max-width:100%;
    }

    .content {   
        padding: 10px;                           
        width: 100%;
        text-align: center;
        h3  {
            text-align: center;
        }
        p {
            margin: 0.5rem 0;
        }
        span {
            color: red;
        }
        .button {
            padding: 5px;
            background-color: lightskyblue;
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            margin: 0.5rem 0;
        }
    }
 }

 @media only screen and (min-width: 560px) {
     .main-content {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     .entry {
         flex: 0 1 calc(50% - 1rem);
     }
 }

 @media screen and (min-width:768px) {
    .entry {
        flex: 0 1 calc(33% - 1rem);
    }
}

.freelancer {
    margin-top: 1rem;
  min-height: 100vh;

  .container {
      margin: 2rem auto 3rem auto;
      background-color: white;
      box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
      padding: 2rem;
      .services {
          h2 {
            padding: 1rem;
          }
          &-container {
              .service {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               
                h3 {
                    padding: 2rem;
                    font-size: 2rem;
                    color: $secondary;
                }
                .icons {
                    background-color: $primary;
                    padding: 2rem;
                    border-radius: 50%;
                    i {
                        font-size: 2rem;
                    }
                }
                p {
                    padding: 2rem;
                    line-height: 2;
                }
              }
          }
          
      }
  }

}
.main-navigation {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
   padding: 10px 0;
   margin: 1rem 0;
   background-color: white;
 
   a {
       text-decoration: none;
       padding: 0.5rem 3rem;
       transition: all 2s ease;
       &:hover {
         transform: scaleX(1.3);       
         background-color: $secondary;
         color: $white;
         border-radius: 5px;
       }
   }
 
} 

.hero {
    height: 450px;
    background-image: url('../../../../assets/minimus/img/hero.jpg');
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        background-color: rgba(0,0,0,0.7);
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    &-content {
        color: white;
        position: relative;
        z-index: 1;
        text-align: center;

        h1 {}
        i {
            font-size: 3rem;
            color: #FFC107;
        }
        .button {
            background-color:#0097A7;
            padding: .5rem 3rem;
            border-radius: 5px;
            display: inline-block;
            margin-top: .5rem;
            text-decoration: none;
            font-size: 1.2rem;
            color: white;
            cursor: pointer;
            transition: background-color 2s ease;
        }
        
        .button:hover {
            background-color:#212121;
        }
    }
}


#contact {
     h2 {
         padding: 2rem;
     }
    form {
        padding: 2rem;
        background-color: $gray;
        border-radius: 5px;
        .form-container {
            .field {
                display: flex;
                margin-bottom: 1rem;
                align-items: center;

                label {
                    flex: 0 0 90px;
                    color: $white;
                }

                input[type="text"],
                input[type="mail"],
                input[type="tel"],
                textarea {
                   flex: 1;
                   height: 2.4rem;
                }
            }
        }
    }

    .submit-form {
        display:flex;
        justify-content: flex-end;
        input[type="submit"] {
            padding: 10px  50px;
            background-color: $secondary;
            color: $white;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
        }
    }
}


@media only screen and (min-width: 768px) {
    .main-navigation {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .services  {
        &-container {
            display: flex;
            .service {
                flex: 0 0 calc(33.3% - 1rem);
            }
        }
    }
  
        form {
            max-width: 800px;
            margin: 0 auto;
       }
       .form-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
       }
       .field {
            flex: 0 0 calc(50%);
       }
}

.w-100 {
    flex: 0 0 calc(100%);
}

.menu_container {
    background-color: #ffffff;
    min-height: calc(100% - 2rem);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;

    h2 {
        margin: 1rem  0;
    }
    nav {
        background-color: #3f51b5;
        ul {
            list-style: none;
            li {
                padding: 1rem;        
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
        }
    }

}

.simple ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    li {
        text-align: center;
        margin-bottom: 10px;
        flex:1;
    }
}

li:hover {
    background-color: #1a2770;
}

@media only screen and (min-width: 768px) {
    .simple ul {
      flex-direction: row;
    }
    .simple ul li {
        margin-bottom: 0;
    }
}

.icons ul li a {
    display: flex;
    justify-content: center;
    .icon {
        margin: 0 15px;
        font-size: 35px;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        span {
            font-size: 10px;
        }
    }
}

@media only screen and (min-width: 600px) {
    .icons ul {
        display: flex;
        flex-wrap: wrap;
    }
    .icons ul li  { 
            display: flex;      
            flex: 0 0 calc(50% - 2rem);
    }
}

@media only screen and (min-width: 678px) {
    .icons ul li {
        flex: 1;
    }
}

/*******DROP DOWN MENU *******/
.dropdown ul {
    display: flex;
    flex-direction: column;
    li {
        color: white;
       
    }
    li:hover  {
        cursor: pointer;
    }
}
@media screen and (min-width:768px) {
    .dropdown ul {
        flex-direction: row;
    }
}
.dropdown ul li  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dropdown ul li ul  {
    margin-top: 1rem;
    display: none;
}
.dropdown ul li:hover ul {
    display: block;
}
.dropdown ul li ul li:hover{
    background-color: #ff5e62;
}
@media screen and (min-width:768px) {
    .dropdown ul li  {
        position: relative;
        display: flex;
        flex: 0 1  100%;
    }
    .dropdown ul li ul {
        display: none;
        position: absolute;
        top:100%;
        left:0;
    }

    .dropdown ul li:hover ul {
        display: flex;
        flex-wrap: wrap;
        background-color: #ff5e62;
        margin:0;
    }
    .dropdown ul li:hover ul li:hover {
        background-color: #d580ff;
    }

}

/*************** SOCIAL ****************/
.social-menu {
    ul {
        display: flex;
        justify-content: flex-start;
        justify-content: flex-end;
        flex: 1 0 auto;
        li {        
            a {
                span {
                      display:none;
                }
            }
            a:before {
                font-family: "Font Awesome 5 Brands";
            }

            a[href*='facebook.com']::before {
                content: "\f39e";
            }
            a[href*='twitter.com']::before {
                content: "\f099";
            }
            a[href*='youtube.com']::before {
                content: "\f431";
            }
            a[href*='instagram.com']::before {
                content: "\f16d";
            }
            a[href*='pinterest.com']::before {
                content: "\f231";
            }

        }
    }
}

/*************** SOCIAL DropDown ****************/
 .navigation-social-dropdown {
     background-color: #3F51B5;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-between;

     nav {
         flex: 0 0 100%;
     }
 
     nav {
        ul {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                flex: 0 1 100%;
                ul {
                    display: none;
                }
            }
        }
     }
     .social-dropdown {
         ul {
             li:hover {
                 ul {
                     display: block;
                 }
             }
         }
     }

     .social-menu {
         order: -2;
     }
 }

 @media only screen and (min-width:768px) {
    .navigation-social-dropdown {
        flex-direction: row;
        nav {
            flex: 0 0 auto;
            ul {
                 flex-direction: row;
            }
        }

        .social-dropdown { 
            ul {
                li {
                  position: relative;

                   ul {
                     position: absolute;
                     top: 100%;
                     left: 0;
                     background-color: lightgreen;
                   }
                }
            }
        }

        .social-dropdown {
            flex: 0 0 70%;
        } 
        .social-menu {
            order: unset;
        }
    }

 }
 
 /*****************holy grail layout*********************/
 .holygrail {
   //  height: 90vh;
     padding: 4rem;
     box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
   // border: 1px solid blue;

     .site-header {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
         img {            
             max-width: 80%;
         }
     }
     .navBar {
         display: none;
     }
    .main-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightgreen; 
        ul {
            
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
      //  border: 1px solid red;
        .main_content {
            flex: 0 0 100%;
            p {
                line-height: 2;
            }           
        }

        .sidebar {
            background-color: #e5e5e5;
            padding: 1rem;
            flex: 0 0 100%;
            h2 {
                padding:0.5rem 0;
            }
            ul {
                list-style: none;
                margin-left: 10px;
                li {
                    margin-bottom: 0.8rem;
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

    }

    footer {       
        background-color:#db008d ;
        width: 100%;
        p {
            margin: 0;
            padding: 1rem 0;
            text-align: center;
            color: white;
        }
    }

    @media only screen and (min-width: 768px) {
        .navBar {
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
        .main-navigation {
            padding: 1rem;
            flex-direction:row;
            justify-content: space-between;
            margin: 0;
            ul {       
                flex: 0 1 90%;             
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                font-size: 1rem;
            }
        }
        .content {
            flex-wrap: nowrap;
            flex-direction: row;
            width: 100%;
            .main_content {
                flex: 0 0 80%;
                h1 {
                    width: 100%;
                    text-align: center;
                }
                img {
                    width: 90%;
                }
            }
            .sidebar {
               flex: 0 0 20%;  
               
               display: block;        
               transition: all 2s linear;
            }

            .main-content_all {
               // width:100%;
                flex: 0 0 100%;
                transition: all 3s linear;
            }

            .sidebar_hide { 
               // display:none;    
                width: 0;
                opacity: 0;
                transform: translateX(-100%);
              //  transition: all 3s linear;
                ul {
                    list-style: none;
                    li {
                        a {
                            text-decoration: none;
                        }
                    }
                }
                
               // margin-left: 0;                      
               // flex: 0 0 0%;
            }
        }

    }   
 }

 /***************** HERO ******************/
.hero_container {  
    h2 {
        text-align: center;
    } 
    .hero_man {
        background-image: url('../../../../assets/minimus/img/travel.jpg');
        background-position: center center;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        .navbar {
            position: absolute;
            top: 0;
            left: 0;           
            background-color: #008FD1;
            padding: 2rem 0;
            width: 100%;
            .header-container {
                .logo {
                    display:flex;
                    justify-content: center;
                }             
               .hero_main_navigation {
                   padding: 1rem;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   a {
                       color: white;
                       text-decoration: none;
                       font-size: 1.5rem;
                   }
               }
            }

            @media screen and (min-width: 768px) {
                .header-container {
                    display: flex;
                    justify-content: flex-start;
                    .logo {
                      flex: 0 0 30%;
                      
                    }
                    .hero_main_navigation {
                      
                      flex: 0 0 70%;
                      flex-direction: row;
                      justify-content: space-around;
                      align-items: center;
                      margin: 0;
                      a {
                         // font-size: 1rem;
                      }
                    }
                }
                
            }
        }

        .header-text {
            .container {
                h1 {
                    color:#008FD1;
                    font-size: 3rem;
                    max-width: 40rem;
                    margin: 0;
                }
            }
        }
    }

    .img-container {
        padding: 1rem;
        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @media screen and (min-width: 490px) {
            .main-content {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                .content {
                    flex: 0 0 calc(50% - 1rem);
                }
            }            
        }

        @media screen and (min-width: 768px) {
            .main-content {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                .content {
                    flex: 0 0 calc(33.3% - 1rem);
                }
            }            
        }
    }

    .categories {
        margin: 1rem 0;
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {              
                flex: 0 0 50%;
                a {
                   text-decoration: none;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   color: white;
                   padding: 2rem;
                   i {
                       font-size: 3rem;
                       margin-bottom: 1rem;
                   }
                }
            }
            li:nth-child(1) {
                background-color: #008fd1;
            }
            li:nth-child(2) {
                background-color: #db008d;
            }
            li:nth-child(3) {
                background-color:  #9800d1;
            }
            li:nth-child(4) {
                background-color:  #eca300;
            }
        }

        @media only screen and (min-width: 768px) {
            ul {
                flex-direction: row;
                li {
                    flex: 0 0 25%;
                }
            }
            
        }
    }

    footer {
        background-color: #008FD1;
        .container {
           .box {
               color: white;
               .h2 {
                  font-size: 1.5rem;
                   text-align: center;
               }
               p {
                   line-height: 2;
               }
               ul {
                   list-style: none;
                   li {
                       a {
                         color: white;
                         text-decoration: none;
                       }
                   }
               }
               .social-nav {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;

                    a::before {
                        content: "\f099";
                    }
                    a[href*='youtube.com']::before {
                        content: "\f431";
                    }
                    a[href*='instagram.com']::before {
                        content: "\f16d";
                    }
                    a[href*='pinterest.com']::before {
                        content: "\f231";
                    }
               }
           }

        }

        .copyright {
            background-color:  #004D70;
            color: white;
            text-align: center;
            font-size: 1.5rem;
            padding: 2rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .container {
            display: flex;
            flex-direction: row;
         
            .box {
                flex: 0 0 calc(33.3% - 1rem);
            }
        }
    }

}


@mixin button($background-color) {
    background-color: $background-color;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    color: $white;
    text-decoration: none;
}

#udemy {
    .hidden {
        display: none;
    }
    #header {
        padding: 1rem;
        display:flex;
        justify-content: space-between;
        .cart-content {
            position: relative;
            &:hover .content {
               display: block;
               position: absolute;
               right: 0;
               padding: 1rem;
               width: 400px;
               height: 150px;
               background-color: $white;
               z-index: 1;
               img {
                   width: 80px;
                   height: 50px;
                   padding: 0 .5rem;
               }
               .button {
                @include button($secondary)
               }
               
            }
        }
    }

    .udemy_hero {
        background-image: url('../../../../assets/minimus/udemy/hero.jpg');
        background-size: cover;
        background-position: center center;
        width: 100%;
       // height: 15rem;
        .udemy_hero-content {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: $white;
            h2 {
                font-size: 2rem;
                font-weight: 400;
                padding: 1rem 0;
            }
            p {
                padding: 0.5rem;
            }
            form {
                position: relative;
                width: 70%;
                input[type="text"] {
                  width: 110%;
                  height: 2rem;
                  padding-left: 0.5rem;
                  background-color: white;
                }
                input[type="submit"] {
                 position: absolute;
                 top: 0;
                 right:-3rem;
                 display: block;
                 text-indent: -9999px;
                 border: none;
                 width: 3rem;
                 height: 2rem;
                 margin: 0;
                 background-color: transparent;
                 background-image: url(../../../../assets/minimus/udemy/search.png);
                 background-repeat: no-repeat;
                 background-position: center center;
                }
            }
        }
    }

    .bar {
        background-image: linear-gradient(to right,$secondary 0%, $alternative 100%);
        color: white;
        min-height: 5rem;
        .icons {
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            @include desktop {
                flex-direction:  row;
            }
            .icon {
                @include desktop {
                    flex: 0 0 33.3%;
                }
                &.icon1 {
                   @include bg-icon(icon1);
                }
                &.icon2 {
                    @include bg-icon(icon2);
                }
                &.icon3 {
                    @include bg-icon(icon3);
                }
            }
        }      
    }

    .course-list {
         margin-top: 1rem;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
        .course {
           flex: 0 0 calc(50% - 1rem);
           @include desktop {
               flex: 0 0 calc(25% - 1rem);
           }
           background-color: $white;
           margin-bottom: 1rem;
           border: 1px solid darken($gray, 50%);
           .course-info {
               padding: 1rem;
               h4 {
                   margin: 0;
                   font-size: 1.2rem;
               }
               .price {
                   display: flex;
                   justify-content: space-between;
                   .regular {
                       text-decoration: line-through;
                   }
                   .offer {
                       font-size: 1.4rem;
                       font-weight: 700;
                   }
               }
               .button {
                   @include button($secondary);

               }
           }
        }
    }

    #footer {
        padding-top:2rem;
        margin-top: 1rem;
        border-top: 1px solid darken($gray, 5%);              
        .container-footer {
           display: flex;
           flex-direction: column; 
           @include desktop {
               flex-direction: row;
           }  
           .menu {
               padding: 1rem;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               flex: 1;
               a {
                   color: $black;
                   text-decoration: none;
                   text-align: center;
                   @include desktop {
                       text-align: left;
                   }
               }
           } 
           @include desktop {
              flex: 0 0 calc(30% - 1rem);
           }      
        }
    }

} // End of udemy



 

