<div class="container">
    <h2 (click)="goHome()"  class="gohome">뒤로가기</h2>
    <main class="main-content">

        <article class="entry">
            <img src="../../../../assets/minimus/flexgrid/01.jpg" alt="entry image">
            <div class="content">
                <h3>Tips for Saving Money in your Next Travel</h3>
                <p>Published on: <span>July 19th, 2019</span></p>
                <p>By: <span>The Travel Blog</span></p>
                <a href="#" class="button">Read More</a>
            </div>
        </article>
        <article class="entry">
            <img src="../../../../assets/minimus/flexgrid/02.jpg" alt="entry image">
            <div class="content">
                <h3>The Complete Guide for Traveling</h3>
                <p>Published on: <span>July 19th, 2019</span></p>
                <p>By: <span>The Travel Blog</span></p>
                <a href="#" class="button">Read More</a>
            </div>
        </article>
        <article class="entry">
            <img src="../../../../assets/minimus/flexgrid/03.jpg" alt="entry image">
            <div class="content">
                <h3>Ultimate Guide to Take the best Pictures</h3>
                <p>Published on: <span>July 19th, 2019</span></p>
                <p>By: <span>The Travel Blog</span></p>
                <a href="#" class="button">Read More</a>
            </div>
        </article>
        <article class="entry">
            <img src="../../../../assets/minimus/flexgrid/04.jpg" alt="entry image">
            <div class="content">
                <h3>Checklist for your next Travel</h3>
                <p>Published on: <span>July 19th, 2019</span></p>
                <p>By: <span>The Travel Blog</span></p>
                <a href="#" class="button">Read More</a>
            </div>
        </article>
        <article class="entry">
            <img src="../../../../assets/minimus/flexgrid/05.jpg" alt="entry image">
            <div class="content">
                <h3>Best Places to visit next Autumn</h3>
                <p>Published on: <span>July 19th, 2019</span></p>
                <p>By: <span>The Travel Blog</span></p>
                <a href="#" class="button">Read More</a>
            </div>
        </article>
        <article class="entry">
            <img src="../../../../assets/minimus/flexgrid/06.jpg" alt="entry image">
            <div class="content">
                <h3>Best Places to Visit with Mountains</h3>
                <p>Published on: <span>July 19th, 2019</span></p>
                <p>By: <span>The Travel Blog</span></p>
                <a href="#" class="button">Read More</a>
            </div>
        </article>
    </main>
</div>

<div  class="freelancer"  id="freelancer">
    <nav class="main-navigation">
        <a  >Home</a>
        <a href="#">About Us</a>
        <a href="#">Clients & Work</a>
        <a href="#">Contact Us</a>
    </nav>

    <div class="hero">
        <div class="hero-content">
            <h1>Freelance Web Developer</h1>
            <p><i class="fas fa-map-marker-alt"></i> Guadalajara, Jalisco</p>
            <a class="button" href="#">Contact Us Here</a>
        </div>
    </div>

    <div class="container">
        <main class="services">
            <h2>My Services</h2>
            <div class="services-container">
                    <div class="service">
                        <h3>Web Design</h3>
                        <div class="icons">
                            <i class="fas fa-pen-nib"></i>
                        </div>
                        <p>Blanditiis omnis dolorum nihil, dolor dolore corporis, ducimus vero officia beatae reiciendis velit quos quis deserunt placeat laboriosam necessitatibus saepe iure eaque?</p>
                    </div><!--.service-->
                    <div class="service">
                        <h3>App Development</h3>
                        <div class="icons">
                            <i class="fab fa-android"></i>
                            <i class="fab fa-apple"></i>
                        </div>
                        <p>Blanditiis omnis dolorum nihil, dolor dolore corporis, ducimus vero officia beatae reiciendis velit quos quis deserunt placeat laboriosam necessitatibus saepe iure eaque?</p>
                    </div><!--.service-->
                    <div class="service">
                        <h3>Social Media</h3>
                        <div class="icons">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook"></i>
                        </div>
                        <p>Blanditiis omnis dolorum nihil, dolor dolore corporis, ducimus vero officia beatae reiciendis velit quos quis deserunt placeat laboriosam necessitatibus saepe iure eaque?</p>
                    </div><!--.service-->
            </div>
        </main>


        <section id="contact" class="contact">
            <h2>Contact Me</h2>
            <form action="#">
                <div class="form-container">
                    <div class="field">
                        <label>Name:</label>
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="field">
                        <label>Phone Number:</label>
                        <input type="tel" placeholder="Phone Number">
                    </div>
                    <div class="field w-100">
                        <label>Email:</label>
                        <input type="mail" placeholder="Email">
                    </div>
                    <div class="field w-100">
                        <label>Message:</label>
                        <textarea cols="30" rows="3"></textarea>
                    </div>
                </div><!--.form-container-->
                <div class="submit-form">
                    <input type="submit" class="button" value="Send">
                </div>
            </form>
        </section>
    </div>
</div>

<div class="menu_container">
    <h2>단순메뉴</h2>
    <nav class="simple">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Online Store</a></li>
            <li><a href="#">Assistance</a></li>
        </ul>
    </nav>

    <h2>Icons메뉴</h2>
    <nav class="icons">
        <ul>
            <li>
                <a href="#">
                   <div class="icon">
                       <i class="fas fa-home"></i>
                   </div>
                   <div class="text">
                        홈
                        <span>Learn about us</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon">
                        <i class="far fa-envelope"></i>
                    </div>  
                    <div class="text">
                        Contact
                        <span>Drop a Line</span>
                    </div>             
                </a>
            </li>
            <li>
                <a href="#">
                   <div class="icon">
                       <i class="fas fa-dollar-sign"></i>
                   </div>
                   <div class="text">
                        Online Store
                        <span>Buy Our Products</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon">
                        <i class="fas fa-question-circle"></i>
                    </div>  
                    <div class="text">
                        Assistance
                        <span>Need Help?</span>
                    </div>             
                </a>
            </li>             
        </ul>
    </nav>

    <h2>Dropdown 메뉴</h2>
    <nav class="dropdown"  id="dropdown">
        <ul>
            <li><a href="#dropdown">Home</a></li>
            <li> About Us
                <ul>
                    <li><a href="#dropdown">Mission</a></li>
                    <li><a href="#dropdown">Vision</a></li>
                    <li><a href="#dropdown">Values</a></li>
                </ul>
            </li>
            <li>Online Store
                <ul>
                    <li><a href="#dropdown">Product 1</a></li>
                    <li><a href="#dropdown">Product 2</a></li>
                    <li><a href="#dropdown">Product 3</a></li>
                </ul>
            </li>
            <li><a href="#dropdown">Assistance</a></li>
        </ul>
    </nav>

    <h2>Social 메뉴</h2>
    <nav id="icons" class="social-menu">
        <ul>
            <li>
                <a href="http://facebook.com"><span> Facebook</span></a>
            </li>
            <li>
                <a href="http://twitter.com"><span> Twitter</span></a>
            </li>
            <li>
                <a href="http://youtube.com"><span> YouTube</span></a>
            </li>
            <li>
                <a href="http://instagram.com"><span> Instagram</span></a>
            </li>
            <li>
                <a href="http://pinterest.com"><span> Pinterest</span></a>
            </li>
        </ul>
    </nav>

    <h2>Dropdown Menu With Social</h2>
    <div  class="navigation-social-dropdown">
        <nav class="social-dropdown">
            <ul>
                <li><a href="#freelancer">Home</a></li>
                <li> About Us
                    <ul class="submenu">
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Values</a></li>
                    </ul>
                </li>
                <li>Online Store
                    <ul class="submenu">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul>
                </li>
                <li><a href="#freelancer">Assistance</a></li>
            </ul>
        </nav>
        <nav class="social-menu">
            <ul>
                <li>
                    <a href="http://facebook.com"><span> Facebook</span></a>
                </li>
                <li>
                    <a href="http://twitter.com"><span> Twitter</span></a>
                </li>
                <li>
                    <a href="http://youtube.com"><span> YouTube</span></a>
                </li>
                <li>
                    <a href="http://instagram.com"><span> Instagram</span></a>
                </li>
                <li>
                    <a href="http://pinterest.com"><span> Pinterest</span></a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<div class="holygrail">
    <header class="site-header">
        <img src="../../../../assets/minimus/img/logo2.png" class="logo">
    </header>

    <nav class="main-navigation">
        <div  class="navBar"  (click)="toggle()">  
            <i class="fas fa-bars"></i>
         </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <div class="content">
        <!-- <aside class="sidebar"> -->
        <aside  [ngClass]="controlSideBar()">
            <h2>Side Menu</h2>
            <ul>
                <li><a href="#">Vestibulum maximus est sit amet mauris ullamcorper mattis.</a></li>
                <li><a href="#">Aliquam a tellus suscipit, dignissim est sed, interdum magna.</a></li>
                <li><a href="#">Nam vel lectus nec sapien consectetur sollicitudin.</a></li>
                <li><a href="#">Morbi consectetur turpis vel elementum tempor.</a></li>
            </ul>
        </aside>       
        <!-- <main class="main_content"> -->
        <main class="main_content"  [ngClass]="controlMain()">

            <h1>Entry Title</h1>
            <img src="../../../../assets/minimus/img/image.jpg" class="featured-image">
            
            <p>Donec ac cursus elit, et sodales nulla. Suspendisse ac lectus sit amet dui egestas tincidunt ut at mi. Aenean consectetur dignissim nibh, eget bibendum sapien. Sed tincidunt cursus nulla. Maecenas blandit metus nulla. Mauris dolor lorem, mattis ac consectetur ac, mollis vel neque. Aliquam erat volutpat. Sed eleifend eleifend lorem, eget auctor dolor luctus et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean egestas, mi nec pulvinar interdum, velit ipsum facilisis urna, quis sollicitudin erat purus eu neque. Integer at mauris neque.</p>

            <p>Quisque id ipsum nunc. Praesent pellentesque commodo gravida. Integer ipsum tortor, dictum vitae vulputate euismod, ultricies fermentum nisl. Nulla porta turpis ac elit maximus mattis. Vivamus in justo sed augue ornare finibus. Duis congue nibh vel vulputate bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pharetra nulla nec velit imperdiet, eu varius tellus hendrerit. Maecenas vitae pretium lectus. Etiam sit amet massa nunc.</p>
            
            <p>Cras auctor ut libero vel aliquam. Morbi vulputate euismod dolor, malesuada finibus arcu tempus eu. Pellentesque a porttitor orci, eget dictum justo. Phasellus bibendum imperdiet sapien, eget mattis felis eleifend id. Nulla rutrum ligula quis dolor ornare, eget iaculis nisl venenatis. Nullam non elit vitae justo lobortis egestas vel nec libero. Cras eget nibh augue. Curabitur maximus elit metus, in semper felis vestibulum a. Phasellus sit amet nunc cursus, placerat lorem a, placerat odio. Pellentesque sollicitudin diam a mattis luctus. Donec nec feugiat libero, sit amet viverra eros. Duis at porta lectus.</p>

        </main>
        
    </div><!--.content-->

    <footer class="site-footer">
        <p>The Travel Blog. 2019 &copy; All Rights Reserved.</p>
    </footer>
</div>

<div class="hero_container">
 
    <header class="header hero_man">
        <div class="navbar">
            <div class="container header-container">
                <div class="logo">
                    <img src="../../../../assets/minimus/img/logo2.png" class="logo-img">
                </div>
                <nav class="hero_main_navigation">
                    <a href="#">Home</a>
                    <a href="#">About Us</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact Us</a>
                </nav>
            </div>
        </div> 
        <div class="header-text">
            <div class="container">
                <h1>Welcome To the Travel Blog</h1>
            </div>
        </div>
    </header>

    <div class="img-container">
            <h2>방문지 사진</h2>
            <main class="main-content">
                
                <article class="entry">
                    <img src="../../../../assets/minimus/flexgrid/01.jpg" alt="entry image">
                    <div class="content">
                        <h3>Tips for Saving Money in your Next Travel</h3>
                        <p>Published on: <span>July 19th, 2019</span></p>
                        <p>By: <span>The Travel Blog</span></p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
                <article class="entry">
                    <img src="../../../../assets/minimus/flexgrid/02.jpg" alt="entry image">
                    <div class="content">
                        <h3>The Complete Guide for Traveling</h3>
                        <p>Published on: <span>July 19th,  2019</span></p>
                        <p>By: <span>The Travel Blog</span></p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
                <article class="entry">
                    <img src="../../../../assets/minimus/flexgrid/03.jpg" alt="entry image">
                    <div class="content">
                        <h3>Ultimate Guide to Take the best Pictures</h3>
                        <p>Published on: <span>July 19th,  2019</span></p>
                        <p>By: <span>The Travel Blog</span></p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
                <article class="entry">
                    <img src="../../../../assets/minimus/flexgrid/04.jpg" alt="entry image">
                    <div class="content">
                        <h3>Checklist for your next Travel</h3>
                        <p>Published on: <span>July 19th,  2019</span></p>
                        <p>By: <span>The Travel Blog</span></p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
                <article class="entry">
                    <img src="../../../../assets/minimus/flexgrid/05.jpg" alt="entry image">
                    <div class="content">
                        <h3>Best Places to visit next Autumn</h3>
                        <p>Published on: <span>July 19th,  2019</span></p>
                        <p>By: <span>The Travel Blog</span></p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
                <article class="entry">
                    <img src="../../../../assets/minimus/flexgrid/06.jpg" alt="entry image">
                    <div class="content">
                        <h3>Best Places to Visit with Mountains</h3>
                        <p>Published on: <span>July 19th,  2019</span></p>
                        <p>By: <span>The Travel Blog</span></p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
            </main>


            <div class="categories">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-map-pin"></i>
                            Activities
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-music"></i>
                            Festivals
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-utensils"></i>
                            Restaurants
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-check"></i>
                            Tips
                        </a>
                    </li>
                </ul>
            </div>
    </div> 

    <footer class="footer">
        <div class="container">
            <div class="box">
                <h2>About Us</h2>
                <p>Maecenas rhoncus dolor nisi, nec lobortis sapien pulvinar ut. Duis dolor lacus, laoreet vel massa a, ultrices varius tellus. Aliquam sed ornare augue. Donec vel molestie quam, eget imperdiet nibh.</p>

                <p>Sed eu pulvinar ante, sit amet facilisis libero. Fusce placerat, risus at dapibus viverra, diam mauris suscipit augue, a sagittis felis libero in lacus. Sed sit amet erat at augue congue malesuada et eget lacus.</p>
            </div>
            <div class="box">
                <h2>Latest Entries</h2>
                <ul>
                    <li><a href="#">Ut loborties turpis lacinia enim Ut loborties turpis lacinia enim</a></li>
                    <li><a href="#">Ut loborties turpis lacinia enim Ut loborties turpis lacinia enim</a></li>
                    <li><a href="#">Ut loborties turpis lacinia enim Ut loborties turpis lacinia enim</a></li>
                    <li><a href="#">Ut loborties turpis lacinia enim Ut loborties turpis lacinia enim</a></li>
                    <li><a href="#">Ut loborties turpis lacinia enim Ut loborties turpis lacinia enim</a></li>
                </ul>
            </div>
            <!-- 
            <div class="box">
                <h2>Follow Us</h2>
                <nav class="social-nav">
                    <a href="http://facebook.com" class="social-nav_facebook"><span>Facebook</span></a>
                    <a href="http://twitter.com" class="twitter"><span>Twitter</span></a>
                    <a href="http://youtube.com"><span>YouTube</span></a>
                    <a href="http://instagram.com"><span>Instagram</span></a>
                    <a href="http://pinterest.com"><span>Pinterest</span></a>
                    <a href="http://pinterest.com"><i class="fab fa-twitter"></i></a>
                </nav>
            </div>
            -->
        </div> 
        <p class="copyright">The Travel Blog 2019 &copy; </p>
    </footer> 
</div>

<div id="udemy">
    <header id="header" class="header container">
        <div class="logo">
            <img src="../../../../assets/minimus/udemy/logo.jpg" id="logo">
        </div>
        <div class="cart-content">
            <img src="../../../../assets/minimus/udemy/cart.png" class="img-cart">
            <div class="content hidden">
                <table id="cart-list">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="../../../../assets/minimus/udemy/course1.jpg">
                            </td>
                            <td>CSS Grid & Flexbox - The Ultimite Guide +10 Projects</td>
                            <td>$15</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="button">Clear Cart</a>
            </div> <!--#cart-->
        </div><!--.cart-->
    </header>

    <div class="udemy_hero">
        <div class="udemy_hero-content container">
                <h2>Learn Something New</h2>
                <p>Invest in yourself with courses from just $15</p>
                <form action="#" method="post">
                    <input type="text" placeholder="What do you want to learn?">
                    <input type="submit" class="submit">
                </form>
        </div>
    </div> <!--#hero-->

    <div class="bar">
        <div class="icons container">
                <div class="icon icon1">
                    <p>80,000 online courses<p>
                    <p>Explore a variety of fresh topics </p>
                </div>
                <div class="icon icon2">
                    <p>Expert instruction</p>
                    <p>Find the right instructor for you </p>
                </div>
                <div class="icon icon3">
                    <p>Lifetime access</p>
                    <p>Learn on your schedule </p>
                </div>
        </div>
    </div>

    <div class="course-list container">
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course1.jpg">
            <div class="course-info">
                <h4>HTML5, CSS3, JavaScript for beginners</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> <!--.course-->
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course2.jpg">
            <div class="course-info">
                <h4>Vegan Food Course</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div><!--.course-->
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course3.jpg">
            <div class="course-info">
                <h4>Guitar for beginners</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> <!--.course-->
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course4.jpg">
            <div class="course-info">
                <h4>The Ultimate Guide for farming at home</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> <!--.course-->
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course5.jpg">
            <div class="course-info">
                <h4>Home Decoration for Beginners</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> <!--.course-->
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course1.jpg">
            <div class="course-info">
                <h4>Web Design for Developers</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> <!--.card-->
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course2.jpg">
            <div class="course-info">
                <h4>Mexican Food for Beginners</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> 
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course3.jpg">
            <div class="course-info">
                <h4>Learn how to play guitar</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div>  
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course4.jpg">
            <div class="course-info">
                <h4>Farm in your Home</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div>  
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course5.jpg">
            <div class="course-info">
                <h4>10 Recipes for Christmas</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div>  
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course1.jpg">
            <div class="course-info">
                <h4>Modern ES6 JavaScript</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div>  
        <div class="course">
            <img class="course-image" src="../../../../assets/minimus/udemy/course2.jpg">
            <div class="course-info">
                <h4>100 Natural Food Recipes</h4>
                <p>Instructor Name</p>
                <img src="../../../../assets/minimus/udemy/stars.png">
                <div class="price">
                    <p class="regular">$200</p>
                    <p class="offer">$15</p>
                </div>
                <a href="#" class="button">Add to Cart</a>
            </div>
        </div> 
    </div>  

    <footer id="footer" class="footer">
        <div class="container">
            <div class="container-footer">
                    <nav  class="menu">
                        <a class="link" href="#">Udemy for Business</a>
                        <a class="link" href="#">Become an Instructor</a>
                        <a class="link" href="#">Udemy App</a>
                    </nav>
                    <nav  class="menu">
                        <a class="link" href="#">About Us</a>
                        <a class="link" href="#">Careers</a>
                        <a class="link" href="#">Blog</a>
                    </nav>
                    <nav class="menu">
                        <a class="link" href="#">Topics</a>
                        <a class="link" href="#">Support</a>
                        <a class="link" href="#">Afilliate</a>
                    </nav>
            </div>  
        </div> 
    </footer>
</div>