.container {
    margin: 3rem 3rem 3rem 10rem;
    height: 15rem;
    width: 30rem;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    border: 1px solid black;

}