<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-4 pull-left">

      <div class="form-group form-inline">
        <input class="form-control ml-2" #extension type="text" placeholder="검색 내선번호입력.." />
        <div class=" input-group-btn">
          <button type="button" class="btn btn-outline-secondary" (click)="search(extension.value)"><i
              class="fas fa-search"></i></button>
        </div>
      </div>

    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="reset()">
          <i class="fas fa-sync"></i>새로고침
        </button>
        <button type="button" class="btn btn-success" (click)="register()">
          <i class="fas fa-plus-circle"></i>등록
        </button>
      </div>
    </div>
  </div>
</div>
<br>

<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="index">#</th>
      <th scope="col" class="filename">내선번호</th>
      <th scope="col" class="title1">시작시간</th>
      <th scope="col" class="title1">종료시간</th>
      <th scope="col" class="mentDate">등록일</th>
      <th scope="col" class="item head_modi">수정</th>
      <th scope="col" class="item head_delete">삭제</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receive of ( receive$ | async) as receives">
      <th scope="row" class="index">{{receive.id}}</th>
      <td class="filename ">{{receive.phone}}</td>
      <td class="title1">{{receive.starttime}}</td>
      <td class="title1">{{receive.endtime}}</td>
      <td class="mentDate">{{receive.create_date}}</td>

      <td>
        <div class="modi" (click)="recordingUpdate(receive)">수정<i class="far fa-edit"></i></div>
      </td>
      <td>
        <div class="delete" (click)="recordingDelete(receive)">삭제<i class="far fa-calendar-times"></i></div>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <ngb-pagination [collectionSize]="120" class="d-flex justify-content-center" (click)="getNext()" [(page)]="page"
    [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>


<!--   전수녹취 등록화면   --------------------------------------------------------  -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h6 class="modal-title">전수녹취 등록</h6>

    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="close('none')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="box box-primary">
      <form [formGroup]="form">
        <div class="box-body">


          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">내선번호</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" formControlName="phone" placeholder="내선번호"
                name="regist_title">
            </div>
          </div>

          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">시작시간</label>
            <div class="col-sm-9" style="display: flex;">
              <button type="button" class="btn btn-outline-secondary" (click)="toggle('start')"><i
                  class="fas fa-clock"></i></button>
              <input class="form-control" formControlName="starttime" type="text" />
            </div>
          </div>

          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">종료시간</label>
            <div class="col-sm-9" style="display: flex;">
              <button type="button" class="btn btn-outline-secondary" (click)="toggle('end')"><i
                  class="fas fa-clock"></i></button>
              <input class="form-control" formControlName="endtime" type="text" />
            </div>
          </div>

          <div class="form-group reg-group" *ngIf="clock">
            <label for="inputText2" class="col-sm-3 control-label">시간설정</label>
            <div class="col-sm-5" id="clock">
              <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
            </div>
            <div class="col-sm-4">
              <button type="button " class="btn btn-primary" (click)="closeClock()">확인</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer " style="display:flex; justify-content: space-around;">
    <button type="button " class="btn btn-secondary" (click)="close('CAN')"><i class="far fa-times-circle"></i>취소
    </button>
    <button type="button " class="btn btn-success" [disabled]="form.invalid" (click)="close('REG')"><i
        class="fas fa-check"></i>등록 </button>
  </div>
</ng-template>
<!--     끝  ==============================================================================================           -->

<ng-template #modalModiContent let-close="close">
  <div class="modal-header">
    <h6 class="modal-title">전수녹취 수정</h6>

    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="close('none')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="box box-primary">
      <form [formGroup]="form">
        <div class="box-body">


          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">내선번호</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" formControlName="phone" placeholder="내선번호"
                name="regist_title">
            </div>
          </div>

          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">시작시간</label>
            <div class="col-sm-9" style="display: flex;">
              <button type="button" class="btn btn-outline-secondary" (click)="toggle('start')"><i
                  class="fas fa-clock"></i></button>
              <input class="form-control" formControlName="starttime" type="text" />
            </div>
          </div>

          <div class="form-group reg-group">
            <label for="inputText2" class="col-sm-3 control-label">종료시간</label>
            <div class="col-sm-9" style="display: flex;">
              <button type="button" class="btn btn-outline-secondary" (click)="toggle('end')"><i
                  class="fas fa-clock"></i></button>
              <input class="form-control" formControlName="endtime" type="text" />
            </div>
          </div>

          <div class="form-group reg-group" *ngIf="clock">
            <label for="inputText2" class="col-sm-3 control-label">시간설정</label>
            <div class="col-sm-5" id="clock">
              <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
            </div>
            <div class="col-sm-4">
              <button type="button " class="btn btn-primary" (click)="closeClock()">확인</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer " style="display:flex; justify-content: space-around;">
    <button type="button " class="btn btn-secondary" (click)="close('CAN')"><i class="far fa-times-circle"></i>취소
    </button>
    <button type="button " class="btn btn-success" [disabled]="form.invalid" (click)="close('MOD')"><i
        class="fas fa-check"></i>수정</button>
  </div>
</ng-template>
