.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  perspective: 600px;
}


.box {
  position: relative;
  width: 350px;
  height: 200px;
  color: white;
  text-align: center;
  background: green;
  transform: rotateY(0deg);
  transform-origin: center top;
  transition: 1s;

  transform-style: preserve-3d;

}

.box-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  //  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(50px);
}

.back {
  background: red;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
