<mat-sidenav-container fullscreen>

  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      <a class="menu-item" mat-button [routerLink]="['/ngrouting', 'courses']">
        <span>코스</span>
      </a>

      <a class="menu-item" mat-button routerLink="/ngrouting/about" [routerLinkActive]="['active', 'menu-item-active']"
        [routerLinkActiveOptions]="{exact: true}">
        <span>안내</span>
      </a>

      <a mat-button class="menu-item" routerLink="/ngrouting/login" routerLinkActive="active menu-item-active"
        [routerLinkActiveOptions]="{exact: true}" *ngIf="auth.isLoggedOut$ | async">
        <mat-icon>account_circle</mat-icon>
        <span>로그인</span>
      </a>
    </div>

    <a mat-button class="menu-item" *ngIf="auth.isLoggedIn$ | async">
      <mat-icon>help</mat-icon>
    </a>

    <a mat-button class="menu-item" *ngIf="auth.isLoggedIn$ | async" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>로그아웃</span>
    </a>

    <a mat-button class="menu-item" routerLink="/home" *ngIf="auth.isLoggedOut$ | async">
      <mat-icon>arrow_back</mat-icon>
      <span>홈</span>
    </a>

    <div class="filler"></div>

    <ng-container *ngIf="(auth.user$ | async) as user">

      <img class="profile-picture" [src]="user.pictureUrl">

    </ng-container>
  </mat-toolbar>
  <p class="source"><a [href]="safeurl">소스코드</a></p>
  <loading [detectRoutingOngoing]="true"></loading>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<router-outlet name="chat"></router-outlet>
