
<main>
    <div>
        <section>
            <div class="event">
                <div  class="event__main">
                    <img src="../../../../assets/hotel/event/Saion.webp" class="event__main--image">
                </div>
                 
            </div>
        </section>
    </div>

    <div class="align-center">
       <div>
           <section class="leadin">
              <div class="b-container">
                  <div class="b-row">
                      <div class="b-col title b-text_display-b4">
                          <h1 class="page-title">
                              <div class="richText">
                                  <p>
                                      Photos + Reviews
                                      <br>
                                  </p>
                                  <p>&nbsp;</p>
                              </div>
                          </h1>
                      </div>
                  </div>
                  <div class="description">
                      <div>
                          <div class="text-or-fragment">
                              <div>
                                  <p>
                                    Consider this your new travel guide. Here’s a look at how our guests experience life.  
                                  </p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
           </section>
       </div>
    </div>
    <div class="b-row">
        <div class="b-col">
            <div class="b-container social-bar">
                <ul class="list-inline">
                    <li class="social facebook">
                        <i class="fab fa-facebook"></i>
                    </li>
                    <li class="social instagram">
                        <i class="fab fa-instagram"></i> 
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div id="photos-and-reviews-tabs">
         <section>
             <div>
                 <app-tab-panel [backgroundColor]="'white'">
                     <app-tab title="Gallery">                           
                        <app-excursions></app-excursions>
                     </app-tab>
                     <app-tab title="Review">
                         <app-resort-activities></app-resort-activities>
                     </app-tab>
                 </app-tab-panel>
                 
             </div>
         </section>
         <div></div>
    </div>
</main>



