.main {
  background-color: #3f3b3b;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

label {
  color: #fff;
}

.movie-container {
  margin: 20px 0;
}

select {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #fff;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #22df61;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.showcase {

  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;



  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

    small {
      color: #fff;
      margin-left: 2px;
    }
  }

}

.seat:not(.occupied):hover {
  cursor: pointer;
  background-color: #dbdb22;
  transform: scale(1.2);
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}

p.text {
  margin: 5px 0;
  color: #fff;

  span {
    color: #6feaf6;
  }
}
