<div class="mapcontainer">
  <div id="map3" class="map3"></div>
  <div class="padding-top"></div>
  <div class="padding-left"></div>
  <div class="padding-right"></div>
  <div class="padding-bottom"></div>
  <div class="center"></div>
</div>
<button id="zoomswitzerland" class="btn btn-primary" (click)="zoomtoswitzerland()">Zoom To Switzerland</button>(Best
fit)<br />
<button id="zoomtolausann" class="btn btn-primary" (click)="zoomtolausanne()">Zoom To Lausanne</button>(with min
resolution)<br />
<button id="centerlausanne" class="btn btn-primary" (click)="centerlausanne()">Center on Lausanne</button>
