 <div class="container">
   <header class="header">
     <img src="assets/recipe/logo.png" alt="Logo" class="header__logo">
     <form class="search" [formGroup]="form">
       <input type="text" class="search__field" placeholder="pizza 입력 ..." formControlName="search">
       <button class="btn search__btn" (click)="searchRecipe()">
         <svg class="search__icon">
           <use href="assets/recipe/icons.svg#icon-magnifying-glass"></use>
         </svg>
         <span class="search__span">찿기</span>
       </button>
     </form>
     <div class="likes">
       <div class="likes__field">
         <svg class="likes__icon">
           <use href="assets/recipe/icons.svg#icon-heart"></use>
         </svg>
       </div>
       <div class="likes__pannel">
         <ul class="likes__list">
           <li *ngFor="let likeList  of likesLists" (click)="likeItem(likeList)">
             <div class="likes__link">
               <figure class="likes__fig">
                 <img [src]="likeList.image_url" alt="test">
               </figure>
               <div class="likes__data">
                 <h4 class="likes__name">{{likeList.title}}</h4>
                 <p class="likes__author">{{likeList.publisher}}</p>
               </div>
             </div>
           </li>
         </ul>
       </div>
     </div>
   </header>

   <div class="results">
     <ul class="results__list" *ngIf="totalPage">
       <li *ngFor="let recipe of subRecipes" (click)="getRecipe(recipe)">
         <div class="results__link results__link--active">
           <figure class="results__fig">
             <img [src]="recipe.image_url" alt="Test">
           </figure>
           <div class="results__data">
             <h4 class="results__name">{{limitRecipeTitle(recipe.title)}}</h4>
             <p class="likes__author">{{recipe.publisher}}</p>
           </div>
         </div>
       </li>
     </ul>

     <div class="results__pages">
       <button class="btn-inline results__btn--prev" *ngIf="prev" (click)="goPrev()">
         <span>Page {{ currentPage ?  currentPage - 1 : null}}</span>
         <svg class="search__icon">
           <use href="assets/recipe/icons.svg#icon-triangle-left"></use>
         </svg>
       </button>

       <button class="btn-inline results__btn--next" *ngIf="next" (click)="goNext()">
         <span>Page {{ currentPage ?  currentPage + 1 : null}}</span>
         <svg class="search__icon">
           <use href="assets/recipe/icons.svg#icon-triangle-right"></use>
         </svg>
       </button>
     </div>
   </div>

   <div class="recipe">
     <figure class="recipe__fig" *ngIf="ingredientList">
       <img [src]="ingredientList.image_url" alt="Tomato" class="recipe__img">
       <h1 class="recipe__title">
         <span>{{ingredientList.title}}</span>
       </h1>
     </figure>

     <div class="recipe__details" *ngIf="ingredientList">
       <div class="recipe__info">
         <svg class="recipe__info-icon">
           <use href="assets/recipe/icons.svg#icon-stopwatch"></use>
         </svg>
         <span class="recipe__info-data recipe__info-data--minutes">45</span>
         <span class="recipe__info-text"> minutes</span>
       </div>
       <div class="recipe__info">
         <svg class="recipe__info-icon">
           <use href="assets/recipe/icons.svg#icon-man"></use>
         </svg>
         <span class="recipe__info-data recipe__info-data--people">4</span>
         <span class="recipe__info-text"> servings</span>

         <div class="recipe__info-buttons">
           <button class="btn-tiny">
             <svg>
               <use href="assets/recipe/icons.svg#icon-circle-with-minus"></use>
             </svg>
           </button>
           <button class="btn-tiny">
             <svg>
               <use href="assets/recipe/icons.svg#icon-circle-with-plus"></use>
             </svg>
           </button>
         </div>
       </div>
       <button class="recipe__love" (click)="addLike(ingredientList)">
         <svg class="header__likes">
           <use href="assets/recipe/icons.svg#icon-heart-outlined"
             *ngIf="isLinked(ingredientList.recipe_id); else nooutlined"></use>
           <ng-template #nooutlined>
             <use href="assets/recipe/icons.svg#icon-heart"></use>
           </ng-template>
         </svg>
       </button>
     </div>

     <div class="recipe__ingredients" *ngIf="ingredientList">
       <ul class="recipe__ingredient-list">
         <li class="recipe__item" *ngFor="let ingre of ingredientList.ingredients">
           <svg class="recipe__icon">
             <use href="assets/recipe/icons.svg#icon-check"></use>
           </svg>
           <div class="recipe__count">{{ingre.count}}</div>
           <div class="recipe__ingredient">
             <span class="recipe__unit">{{ingre.unit}}</span>
             {{ingre.ingredient}}
           </div>
         </li>
       </ul>

       <button class="btn-small recipe__btn">
         <svg class="search__icon">
           <use href="assets/recipe/icons.svg#icon-shopping-cart"></use>
         </svg>
         <span>쇼핑목록 추가</span>
       </button>
     </div>

     <div class="recipe__directions" *ngIf="ingredientList">
       <h2 class="heading-2">조리방법</h2>
       <p class="recipe__directions-text">
         <span class="recipe__by">{{ingredientList.publisher}}</span>이 만들고, 검증된 레시피 입니다.
         <a href="home/recipe">이곳에서</a> 확인해 보시기 바랍니다.
       </p>
       <a class="btn-small recipe__btn" href="http://thepioneerwoman.com/cooking/    pasta-with-tomato-cream-sauce/"
         target="_blank">
         <span>Directions</span>
         <svg class="search__icon">
           <use href="assets/recipe/icons.svg#icon-triangle-right"></use>
         </svg>

       </a>
     </div>

   </div>
   <!-- End of recipe   -->

   <div class="shopping">
     <h2 class="heading-2">목록</h2>

     <ul class="shopping__list" *ngIf="ingredientList">

       <li class="shopping__item" *ngFor="let ingre of ingredientList.ingredients">
         <div class="shopping__count">
           <input type="number" [value]="ingre.count" step="1">
           <p>{{ingre.unit}}</p>
         </div>
         <p class="shopping__description">{{ingre.ingredient}}</p>
         <button class="shopping__delete btn-tiny">
           <svg>
             <use href="assets/recipe/icons.svg#icon-circle-with-cross"></use>
           </svg>
         </button>
       </li>

     </ul>

   </div>
   <!-- End of shopping   -->









 </div>