 
    <section> 
        <mat-card >            
            <img mat-card-image class="card-image" src="../../../../assets/hotel/dining/Beverage.webp" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="main-description">
                    <h3>
                        Dining 
                    </h3>
                     <p>
                         Discover a variety of exquisite dining experiences andexceptional service at Park Hyatt Seoul’s restaurants and bars.Using only the freshest, highest-quality ingredients, the chefsat Park Hyatt Seoul create savory, palate-pleasing cuisine withflair and creativity.
                         Located on the 2nd floor, our main restaurant, Cornerstone,offers authentic Italian dishes, a vast array of premiumbeverages and a convivial and relaxing atmosphere. Offeringpanoramic views of Seoul, The Lounge, on the 24th floor, servesmodern Korean cuisine specially created for the enjoyment ofKoreans and foreigners alike, as well as a wide selection ofbeverages including traditional Korean teas and cocktails. TheTimber House, on the lower level floor, is a vinyl music bar,presenting Japanese cuisine and premium beverages.  
                     </p>                 
                </div>   
            </mat-card-content>           
          </mat-card>
    </section>
    <section  class="bar">
        <div  class="bar-panel">
            <div><h3> Cornerstone  </h3> </div>
            <div class="bar-dining">
                <div class="bar__dining--image"> 
                    <picture>
                        <img  class="loadlazy" src="../../../../assets/hotel/dining/Cornerstone.webp" alt="Photo of a Shiba Inu">
                    </picture>  
                    <div class="contact contact--column">
                        <div class="contact__button">
                            <span>RESERVE NOW</span>
                        </div>
                        <div class="contact__call">
                            <div class="contact__call--icon"><span class="material-icons">call</span></div>
                            <div  class="contact__call--num"><span>82-2-799-3000</span></div>
                            
                        </div>
                    </div>                          
                </div>
                <div class="bar__dining--desc">
                    <div>
                        <p>
                            An authentic Italian restaurant featuring home-style Italian dishes and a variety of beverages 
                        </p>
                    </div>
                    <div>
                        <p>
                            Cornerstone features a convivial and relaxing atmosphere, with our top chefs and culinary team presenting authentic home-style southern Italian dishes using the freshest seasonal ingredients. Diners are also able to experience a vast array of Italian boutique wines with a variety of craft beers and premium sodas.
    
                            Please be advised that in light of the COVID-19 situation, we have taken the precautionary measure to temporarily discontinue our buffet service at Cornerstone and provide alternative offering at this time.
                            Please kindly contact the Guest Service Center at 82 2 2016 1234 or ask your server for details. Thank you for your understanding. 
                        </p>
                        <div>
                            <p  class="opening-time">
                                Breakfast: from February 26 until further notice 
                            </p>
                        </div>
                        <div class="open_time">
                            <span class="open_time--close">Hours</span>
                            <span class="open_time--close opening-time">Breakfast:</span>
                            <span class="open_time--close">Daily, 7:30 – 10:30 a.m.</span>
                            <br />
                            <span class="open_time--close opening-time">Lunch:</span>
                            <span class="open_time--close">Monday – Friday, 11:30 a.m. – 2:30 p.m.</span>
                            <br />
                            <span class="open_time--close opening-time">Dinner:</span>
                            <span class="open_time--close">Daily, 5:00 – 9:00 p.m.</span>
                            <span class="open_time--close">Last order: 8:30 p.m.</span>
                            <span class="open_time--close">(From February 10, 2020)</span>
                            <br />
                            <span class="open_time--close opening-time">Weekend Brunch:</span>
                            <span class="open_time--close">Saturday – Sunday, 12:00 p.m. – 3:00 p.m.</span>
                            <span class="open_time--close">(From February 8, 2020)</span>
                        </div>
                    </div>

                </div>
                <div class="contact contact--row">
                    <div class="contact__button">
                        <span>RESERVE NOW</span>
                    </div>
                    <div class="contact__call">
                        <div class="contact__call--icon"><span class="material-icons">call</span></div>
                        <div  class="contact__call--num"><span>82-2-799-3000</span></div>
                        
                    </div>
                </div> 
            </div>
        </div>
      
    </section>

    <section  class="bar">
        <div  class="bar-panel">
            <div><h3>J.J. MAHONEY'S Total Entertainment Center  </h3> </div>
            <div class="bar-dining">
                <div class="bar__dining--image"> 
                    <picture>
                        <img  class="loadlazy" src="../../../../assets/hotel/dining/Citrus.webp" alt="Photo of a Shiba Inu">
                    </picture>  
                    <div class="contact contact--column">
                        <div class="contact__button">
                            <span>RESERVE NOW</span>
                        </div>
                        <div class="contact__call">
                            <div class="contact__call--icon"><span class="material-icons">call</span></div>
                            <div  class="contact__call--num"><span>82-2-799-3000</span></div>
                            
                        </div>
                    </div>                          
                </div>
                <div class="bar__dining--desc">
                    <div>
                        <p>
                            An authentic Italian restaurant featuring home-style Italian dishes and a variety of beverages 
                        </p>
                    </div>
                    <div>
                        <p>
                            Cornerstone features a convivial and relaxing atmosphere, with our top chefs and culinary team presenting authentic home-style southern Italian dishes using the freshest seasonal ingredients. Diners are also able to experience a vast array of Italian boutique wines with a variety of craft beers and premium sodas.
    
                            Please be advised that in light of the COVID-19 situation, we have taken the precautionary measure to temporarily discontinue our buffet service at Cornerstone and provide alternative offering at this time.
                            Please kindly contact the Guest Service Center at 82 2 2016 1234 or ask your server for details. Thank you for your understanding. 
                        </p>
                        <div>
                            <p opening-time>
                                Breakfast: from February 26 until further notice 
                            </p>
                        </div>
                        <div class="open_time">
                            <span class="open_time--close">Hours</span>
                            <span class="open_time--close opening-time">Breakfast:</span>
                            <span class="open_time--close">Daily, 7:30 – 10:30 a.m.</span>
                            <br />
                            <span class="open_time--close opening-time">Lunch:</span>
                            <span class="open_time--close">Monday – Friday, 11:30 a.m. – 2:30 p.m.</span>
                            <br />
                            <span class="open_time--close opening-time">Dinner:</span>
                            <span class="open_time--close">Daily, 5:00 – 9:00 p.m.</span>
                            <span class="open_time--close">Last order: 8:30 p.m.</span>
                            <span class="open_time--close">(From February 10, 2020)</span>
                            <br />
                            <span class="open_time--close opening-time">Weekend Brunch:</span>
                            <span class="open_time--close">Saturday – Sunday, 12:00 p.m. – 3:00 p.m.</span>
                            <span class="open_time--close">(From February 8, 2020)</span>
                        </div>
                    </div>

                </div>
                <div class="contact contact--row">
                    <div class="contact__button">
                        <span>RESERVE NOW</span>
                    </div>
                    <div class="contact__call">
                        <div class="contact__call--icon"><span class="material-icons">call</span></div>
                        <div  class="contact__call--num"><span>82-2-799-3000</span></div>
                        
                    </div>
                </div> 
            </div>
        </div>
      
    </section>
 
