:host {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 20px 100px;
}

p {
  outline: 1px solid red;
}

a {
  outline: 3px solid orchid;
  height: 100px;
}
