 <div class="content">
   <h1 class="title">block, inline and inline-block"</h1>
   <p>Lorem ipsum dolor,<a href="#">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry.
     </a>
     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
     of type and scrambled it to make a type specimen book
   </p>
   <p>Lorem ipsum dolor,<a href="#">Contrary to popular belief</a>
     Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it
     over 2000 years old.
   </p>
   <p>Lorem ipsum dolor,There are many variations of passages of Lorem Ipsum available, but the majority have suffered
     alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
 </div>
