:host {
  display: block;
  padding: 20px;
  background-color: white;
}

.home {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: 70px;
  left: 20px;
}

h3 {
  color: black;
  text-decoration: underline;
}
