:host {
  font-size: 62.55%;
  font-weight: 400;
  line-height: 1.6;
  color: #655A56;
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 68.75em) {
  :host {
    font-size: 50%;
  }
}

.container {
  max-width: 120rem;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  display: grid;
  grid-template-rows: 5rem minmax(100rem, auto);
  grid-template-columns: 1.1fr 2fr 1.1fr;
  grid-template-areas: "head head head""list recipe shopping";
  grid-gap: 5px;
}




.results,
.likes {
  padding: 2rem 0;
}

.results__list,
.likes__list {
  list-style: none;
}

.results__link:link,
.results__link:visited,
.likes__link:link,
.likes__link:visited {
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  transition: all .3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.results__link,
.results__link {
  border: 1px solid green;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  transition: all .3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.results__link:hover,
.likes__link:hover {
  background-color: #F9F5F3;
  transform: translateY(-5px);
}

.results__link--active,
.likes__link--active {
  background-color: #F9F5F3;
}

.results__fig,
.likes__fig {

  flex: 0 0 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  height: 3.5rem;
  margin-right: 1rem;
  position: relative;
  backface-visibility: hidden;
}

.results__fig::before,
.likes__fig::before {
  content: '';
  display: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: linear-gradient(to right bottom, #FBDB89, #F48982);
  opacity: .4;
}

.results__fig img,
.likes__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}

.results__name,
.likes__name {
  font-size: 1.1rem;
  color: #F59A83;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: .3rem;
}

.results__author,
.likes__author {
  font-size: 1.1rem;
  color: #968B87;
  text-transform: uppercase;
  font-weight: 400;
}

.results__pages,
.likes__pages {
  margin-top: 2rem;
  padding: 0 2rem;
}

.results__pages::after,
.likes__pages::after {
  content: "";
  display: table;
  clear: both;
}

.results__btn--prev,
.likes__btn--prev {
  float: left;
  flex-direction: row-reverse;
}

.results__btn--next,
.likes__btn--next {
  float: right;
}
