<div class="container">
    <div class="month-orders" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlexOffset="20px" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <button mat-raised-button color="primary">
              <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
            </button>
        </div>
        <div mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <button mat-raised-button color="accent">오늘</button>
        </div>
        <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <button mat-raised-button color="primary">
              <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
            </button>
        </div>
        <div class="date_title" fxFlex>
            <!--   | date: 'y년 MM월'  | calendarDate:(view + 'ViewTitle') -->
            <h3 fxFlexOffset="30%" fxFlexAlign="center">{{ viewDate | date:'y년 MM월' }}</h3>
        </div>
    </div>
</div>