<div class="row">
    <div class="col-sm-4">
        <app-left-nav-main></app-left-nav-main>
    </div>
    <div class="col-sm-8  builder-content">
        <h2 class="text-center">운동종류</h2>

        <div *ngFor="let workout of workoutList" class="exercise-title " (click)="onSelect(workout)">
            <div class="exercise title title__list">
                <div>{{workout.title}}</div>
                <div class="title__list-sub">
                    <span>
                        <i class="far fa-clock"></i> - {{duration(workout)}}
                    </span>
                    <span>
                        <i class="fas fa-list"></i> - {{count(workout)}}
                    </span>

                </div>

            </div>
        </div>
    </div>
</div>