<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>관리자11</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      레몬
    </p>
  </mat-card-content>

</mat-card>

<mat-list>
  <span *ngFor="let item of menu">
    <span *ngIf="item.children && item.children.length > 0">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{item.iconName}}</mat-icon>
                {{item.displayName}}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span *ngFor="let child of item.children; trackBy: trackByFn">
            <a mat-list-item (click)="goSubMenu(child.route)">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{child.iconName}}</mat-icon>
                {{child.displayName}}
              </div>
            </a>
            <mat-divider></mat-divider>
          </span>
        </mat-expansion-panel>
      </mat-accordion>
    </span>

    <span *ngIf="!item.children || item.children.length == 0">
      <a mat-list-item (click)="goItem(item)">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon>{{item.iconName}}</mat-icon>
          {{item.displayName}}
        </div>
      </a>
      <mat-divider></mat-divider>
    </span>
  </span>
</mat-list>


<!-- 
<mat-nav-list>
    <h3 matSubheader>Manager</h3>
    <a mat-list-item routerLinkActive="active-link"  [routerLink]="['/home', 'lemon','users']">
      Users
    </a>
    <a mat-list-item routerLinkActive="active-link" [routerLink]="['/home', 'lemon','receipts']">
      Receipts
    </a>
    <h3 matSubheader>Inventory</h3>
    <div>
      <a mat-list-item routerLinkActive="active-link" [routerLink]="['/home', 'lemon','inventory','stockEntry']">
        Stock Entry
      </a>
      <a mat-list-item routerLinkActive="active-link"  [routerLink]="['/home', 'lemon','inventory','products']">
        Products
      </a>
      <a mat-list-item routerLinkActive="active-link" [routerLink]="['/home', 'lemon','inventory','categories']">
        Categories
      </a>
    </div>

    <h3 matSubheader>Clerk</h3>
    <a mat-list-item routerLinkActive="active-link" [routerLink]="['/home', 'lemon','pos']">POS</a>
  </mat-nav-list>
-->
