<div class="info">
  <h1>우주 걷기</h1>
  <h2>Grid 예제</h2>
</div>

<img class="benny" src="/assets/spacewalk/misc/benny.png">

<div class="scene">
  <div class="wrap">
    <div class="wall wall-right"></div>
    <div class="wall wall-left"></div>
    <div class="wall wall-top"></div>
    <div class="wall wall-bottom"></div>
    <div class="wall wall-back"></div>
  </div>

  <div class="wrap">
    <div class="wall wall-right"></div>
    <div class="wall wall-left"></div>
    <div class="wall wall-top"></div>
    <div class="wall wall-bottom"></div>
    <div class="wall wall-back"></div>
  </div>
</div>
