 <!-- <div class="box">
   <span style="--i:1"><img
       src="assets/spacewalk/space-thumbnails/planets/Mercury_in_color_-_Prockter07-edit1.jpg"></span>
   <span style="--i:2"><img src="assets/spacewalk/space-thumbnails/planets/Venus-real_color.jpg"></span>
   <span style="--i:3"><img src="assets/spacewalk/space-thumbnails/planets/The_Earth_seen_from_Apollo_17.jpg"></span>
   <span style="--i:4"><img src="assets/spacewalk/space-thumbnails/planets/OSIRIS_Mars_true_color.jpg"></span>
   <span style="--i:5"><img
       src="assets/spacewalk/space-thumbnails/planets/Jupiter_and_its_shrunken_Great_Red_Spot.jpg"></span>
   <span style="--i:6"><img src="assets/spacewalk/space-thumbnails/planets/Saturn_during_Equinox.jpg"></span>
   <span style="--i:7"><img src="assets/spacewalk/space-thumbnails/planets/Uranus2.jpg"></span>
   <span style="--i:8"><img src="assets/spacewalk/space-thumbnails/planets/Neptune_Full.jpg"></span>
 </div> -->


 <div class="stage">
   <div class="carousel">
     <span style="--i:0">
       <img src="assets/spacewalk/space-thumbnails/planets/Mercury_in_color_-_Prockter07-edit1.jpg">
     </span>
     <span style="--i:1">
       <img src="assets/spacewalk/space-thumbnails/planets/Venus-real_color.jpg">
     </span>
     <span style="--i:2">
       <img src="assets/spacewalk/space-thumbnails/planets/The_Earth_seen_from_Apollo_17.jpg">
     </span>
     <span style="--i:3">
       <img src="assets/spacewalk/space-thumbnails/planets/OSIRIS_Mars_true_color.jpg">
     </span>
     <span style="--i:4">
       <img src="assets/spacewalk/space-thumbnails/planets/Jupiter_and_its_shrunken_Great_Red_Spot.jpg">
     </span>
     <span style="--i:5">
       <img src="assets/spacewalk/space-thumbnails/planets/Saturn_during_Equinox.jpg">
     </span>
   </div>
 </div>
